In [7]:
import pandas as pd

# Create Series
temps = [28, 30, 27, 29, 31, 32, 30]
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

s = pd.Series(temps, index=days)
print("Temperature Series:")
print(s)

# a. Average temperature
avg = s.mean()
print("\nAverage Temperature:", avg)

# b. Maximum and Minimum temperature with day
print("\nMaximum Temperature:", s.max(), "on", s.idxmax())
print("Minimum Temperature:", s.min(), "on", s.idxmin())

# c. Temperatures greater than 30
print("\nTemperatures greater than 30:")
print(s[s > 30])

# d. Convert to Fahrenheit
f = (s * 9/5) + 32
print("\nTemperatures in Fahrenheit:")
print(f)

# e. Days with temperature above average
print("\nDays with temperature above average:")
print(s[s > avg])

Temperature Series:
Mon    28
Tue    30
Wed    27
Thu    29
Fri    31
Sat    32
Sun    30
dtype: int64

Average Temperature: 29.571428571428573

Maximum Temperature: 32 on Sat
Minimum Temperature: 27 on Wed

Temperatures greater than 30:
Fri    31
Sat    32
dtype: int64

Temperatures in Fahrenheit:
Mon    82.4
Tue    86.0
Wed    80.6
Thu    84.2
Fri    87.8
Sat    89.6
Sun    86.0
dtype: float64

Days with temperature above average:
Tue    30
Fri    31
Sat    32
Sun    30
dtype: int64

In [5]:
import pandas as pd

# Create DataFrame
data = {
    'Roll Number': [1,2,3,4,5,6,7,8,9,10],
    'Name': ['student 1','s2','s3','s4','s5','s6','s7','s8','s9','s10'],
    'Gender': ['M','F','M','F','M','F','M','F','M','F'],
    'Marks1': [65,45,78,34,90,56,40,88,23,67],
    'Marks2': [55,39,80,60,92,35,42,75,30,68],
    'Marks3': [70,50,85,45,88,60,38,90,28,72]
}

df = pd.DataFrame(data)
print("Student Data:")
print(df)

# a. Total marks
df['Total'] = df['Marks1'] + df['Marks2'] + df['Marks3']
print("\nTotal Marks:")
print(df[['Name','Total']])

# b. Lowest marks in Marks1
print("\nLowest Marks in Marks1:", df['Marks1'].min())

# c. Highest marks in Marks2
print("Highest Marks in Marks2:", df['Marks2'].max())

# d. Average marks in Marks3
print("Average Marks in Marks3:", df['Marks3'].mean())

# e. Student with highest average
df['Average'] = df[['Marks1','Marks2','Marks3']].mean(axis=1)
print("Student with Highest Average:",
      df.loc[df['Average'].idxmax(), 'Name'])

# f. Number of students failed in Marks2
print("Students failed in Marks2 (<40):",
      df[df['Marks2'] < 40].shape[0])

Student Data:
   Roll Number       Name Gender  Marks1  Marks2  Marks3
0            1  student 1      M      65      55      70
1            2         s2      F      45      39      50
2            3         s3      M      78      80      85
3            4         s4      F      34      60      45
4            5         s5      M      90      92      88
5            6         s6      F      56      35      60
6            7         s7      M      40      42      38
7            8         s8      F      88      75      90
8            9         s9      M      23      30      28
9           10        s10      F      67      68      72

Total Marks:
        Name  Total
0  student 1    190
1         s2    134
2         s3    243
3         s4    139
4         s5    270
5         s6    151
6         s7    120
7         s8    253
8         s9     81
9        s10    207

Lowest Marks in Marks1: 23
Highest Marks in Marks2: 92
Average Marks in Marks3: 62.6
Student with Highest Average: s5
Students failed in Marks2 (<40): 3